name: Connect_EC2

on:
  workflow_call:
    inputs:
      repo_name:
        description: "Repository name to pass into script"
        required: true
        type: string

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Init Terraform
        run: terraform init -upgrade

      - name: Apply Terraform
        run: terraform apply -auto-approve

      - name: Export Terraform outputs
        run: |
          echo "INSTANCE_ID=$(terraform output -raw app_instance_id)" >> $GITHUB_ENV
          echo "PUBLIC_IP=$(terraform output -raw app_instance_public_ip)" >> $GITHUB_ENV
          echo "AZ=$(terraform output -raw app_instance_az)" >> $GITHUB_ENV

      - name: Run postTerraformscript
        run: bash postTerraformscript.sh