name: cloud_infra_workflow
on: 
 push:
  branches: main
 workflow_dispatch:
    

jobs:
  build:
   runs-on: ubuntu-latest
   steps:
    - name: checkout Code
      uses: actions/checkout@v3
       

      
