name: cloud_infra_workflow
on: 
 push:
  branches: main
 workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        

      - name: Terraform Init
        run: terraform init
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Terraform Plan
        run: terraform plan
  deploy:
    runs-on: ubuntu-latest    
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Terraform Apply
         needs:[Terraform Plan]
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
       

      
